@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}
    
header{
  display: flex;
}

.container{
    background:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url("./images/Banner\ Image.png");
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin-top: 50px;
    margin-left:110px;
    margin-right:110px;
    
}

.banner-text{

    color: darkorange;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    margin-top: 200px;
}

.banner-content{

    width: 632px;
    color:darkorange;
    text-align: center;
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
    margin-left: 300px;
}



.offer{
    width: 700px;
    height: 600px;
   

}

.section-title{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 40px;
margin-left: 500px;
}


.section-title p{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 5px;
}

.section-title h2{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.offer-img{
    
    height: 400px;
    margin-left: 350px;
    margin-top: 8px;
}


.party-banner-main{

    display: flex;
    justify-content: space-around;
}

.container-2{
    background-image: url(./images/Vectorrr.png);
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 1200px;
    height: 500px;
    border-radius: 16px;
    margin-top: 10px;
    margin-left:110px;
    margin-right:110px;
    text-align: center;
    justify-content: space-between;
    padding-top: 80px;
    background-repeat: no-repeat;
    
}


.container-2-text h1{
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; 
    letter-spacing: 7.04px;
    margin-top: 65px;
    margin-left: 8px;
    
}

.container-2-text p{

    width: 697px;
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 8px;
    margin-left: 26px;

}

.container-2-text button{
    background-color: #F00;
    color: #FFF;
    border: 0;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
 
   font-weight: 700;
  
   text-transform: uppercase;
}

.container-2-img{

    margin-right: 10px;
}

.section-3-box{
    width: 1200px;
    height: 300px;
    background-color:#FFE8E8;
    /* border: 1px solid black; */
    position: absolute;
    text-align: center;
    margin-top: 60px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.section-3-text{

    color: #070211;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
margin-top: 80px;
}

.heading-color{
    color: #F00;
}


.section-3-button button{

    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    color: #FFF;
    align-items: center;
   gap: 10px;
   border-radius: 8px;
   background: #F00;
   border: 0;
}
